.single-comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(211, 154, 114);
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
    border: 0.5px solid black;
    justify-content: space-between;
}

.single-comment-container .left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-comment-container img{
    height: 5vh;
    width: 5vh;
    border-radius: 100px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.comment-info h3{
    font-family: sans-serif;
    font-weight: lighter;
}

.comment-info h2{
    cursor: pointer;
}

.delete {
    cursor: pointer;
    margin-right: 5px;
    color: rgb(224, 70, 70);
}

.delete:hover{
    color: black;
}