@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.userprofile-container {
    width: 100vw;
    height: 100vh;
    background-color: #d4c1a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
}

.userprofile-container .avatar{
    border-radius: 50px;
    height: 10%;
    width: auto;
    margin: 20px;
}

.userprofile-container .stat-section {
    margin: 10px;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.userprofile-container .stat-section h3{
    width: 33.33%;
    text-align: center;
}

.userprofile-container .post-section {
    width: 100%;
    height: 60%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.userprofile-container .post-section img{
    height: 90%;
    width: auto;
    margin: 0px 10px;
    border-radius: 10px;
}

.userprofile-container h2{
    margin: 0px 10px 10px 10px;
    font-size:40px;
}

.stat-section .followers{
    cursor: pointer;
}

.stat-section .followings{
    cursor: pointer;
}