.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 80%;
    background-color: #d4c1a4;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}

.user-left {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    cursor: pointer;
}

.user-right {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.user-container .avatar{
    height: 80%;
    width: 48px;
    border-radius: 50px;
    margin-right: 10px;
}

.user-container button{
    margin-left: 10px;
    height: 60%;
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #b1a9a1;
    cursor: pointer;
}

.user-container button:hover{
    background-color: white;
    transition-duration: 0.4s;
}