@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.feed-container{
    height: 100vh;
    width: 100vw;
    background-color: #d4c1a4;
    font-family: 'Karla', sans-serif;
    color: #120c06;
}

.nav-container{
    height: 8%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big-container {
    height: 92%;
    background-color:#fbf1b7;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
}

.right-big-container{
    height: 100%;
    width: 40%;
}

.posts-container{
    height: 100%;
    width: 60%;
    background-color: #fbf1b7;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container .nav-left a{
    font-size: 30px;
}

.users-container{
    height: 90%;
    background-color: #fbf1b7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x: hidden;
}

.nav-container .nav-left{
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container .nav-left h1{
    cursor: pointer;
}

.nav-container .nav-mid h3{
    cursor: pointer;
}

.nav-container .nav-right{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container .nav-mid{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container .nav-right  img{
    height: 70%;
    width: 5.6vh;
    border-radius: 100px;
    cursor: pointer;
}

.credit {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 10%;
    color: #d4c1a4;
}

.developer-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.developer-name:hover{
    color: #d4c1a4;
    transition-duration: 0.4s;
}

