@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.feed-container{
    height: 100vh;
    width: 100vw;
    background-color: #d4c1a4;
    font-family: 'Karla', sans-serif;
    color: #120c06;
}

.nav-container{
    height: 8%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big-container {
    height: 92%;
    background-color:cadetblue;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
}

.posts-container{
    height: 100%;
    width: 60%;
    background-color: #fbf1b7;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container .nav-left a{
    font-size: 30px;
}

.users-container{
    height: 100%;
    background-color: #fbf1b7;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    overflow-x: hidden;
}

.nav-container .nav-left{
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container .nav-right{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container .nav-mid{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container .nav-mid a{
    text-decoration: none;
    color: #120c06;
}

.nav-container .nav-left a{
    text-decoration: none;
    color: #120c06;
}

.nav-container .nav-right a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-container .nav-right a img{
    height: 70%;
    border-radius: 50px;
}

