@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.profile-container {
    width: 100vw;
    height: 100vh;
    background-color: #d4c1a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
    overflow-y: scroll;
    overflow: hidden;
}

.profile-container #imgInput{
    display: none;
    visibility: none;
}

.profile-container label{
    border-radius: 100px;
    height: 10%;
    width: 8.5vh;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
}

.profile-container .avatar{
    height: 100%;
    width: 100%;
}

.profile-container .stat-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.profile-container .stat-section .left{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.profile-container .stat-section .middle{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.profile-container .stat-section .right{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.middle h3{
    cursor: pointer;
}

.right h3{
    cursor: pointer;
}

.post-section {
    width: 100%;
    height: 60%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.post-section img{
    height: 90%;
    width: auto;
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-container h2{
    margin: 0px 10px 10px 10px;
    font-size:40px;
}

.profile-container .log-out-button{
    width: 140px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: #b1a9a1;
}

.profile-container .log-out-button:hover{
    transition-duration: 0.4s;
    background-color: white;
}

.profile-container h4{
    font-size: 20px;
}

.profile-container .name-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-button{
    border-radius: 10px;
    width: 40px;
    font-family: 'Karla', sans-serif;
    background-color: #b1a9a1;
    cursor: pointer;
    border: solid 2px black;
}

.edit-button:hover{
    background-color: white;
    transition-duration: 0.4s;
}

.name-input {
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    background-color: wheat;
}

.description-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-section h3{
    margin-right: 10px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 50px;
    border-radius: 10px;
    width: 80px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    background-color: #b1a9a1;
    cursor: pointer;
    border: solid 2px black;
}

.back-button:hover{
    background-color: white;
    transition-duration: 0.4s;
}