@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.profile-container {
    width: 100vw;
    height: 100vh;
    background-color: #d4c1a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
    overflow-y: scroll;
}

.profile-container input{
    display: none;
    visibility: none;
}

.profile-container label{
    border-radius: 50px;
    height: 10%;
    width: auto;
    margin: 20px;
    cursor: pointer;
}

.profile-container .avatar{
    border-radius: 50px;
    height: 100%;
    width: auto;
}

.profile-container .stat-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.profile-container .stat-section .left{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.profile-container .stat-section .middle{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.profile-container .stat-section .right{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.post-section {
    width: 100%;
    height: 60%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.post-section img{
    height: 90%;
    width: auto;
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-container h2{
    margin: 0px 10px 10px 10px;
    font-size:40px;
}

.profile-container button{
    width: 140px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: #b1a9a1;
}

.profile-container button:hover{
    transition-duration: 0.4s;
    background-color: white;
}

.profile-container h4{
    font-size: 20px;
}