@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.post-main-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: 'Karla', sans-serif;
    background-color:#d4c1a4;
}

.content-section{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-section .all-comment{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #ceb899;
    border: 1px solid black;
}

.comment-section .input-comment{
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comment-section .input-comment input{
    font-size: 20px;
    width: 70%;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    border: 2px black solid;
}

.comment-section .input-comment button{
    font-size: 20px;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #b1a9a1;
    cursor: pointer;
}

.comment-section .input-comment button:hover{
    background-color: white;
    transition-duration: 0.4s;
}

.content-section .header{
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-section .body{
    margin-top: 10px;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    justify-content: center;
}

.content-section .header img{
    height: 80%;
    width: auto;
    border-radius: 100px;
    cursor: pointer;
}

.content-section .header h3{
    font-size: 30px;
    cursor: pointer;
}

.content-section .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-section .back{
    cursor: pointer;
}

.content-section .back:hover{
    color: white;
    transition-duration: 0.4s;
}

.content-section #postImage {
    height: 80%;
    width: auto;
    border-radius: 10px;
}